/* Mengatur Body */
body {
    margin: 5%;
    padding: 0%;
    background-color: mediumslateblue;
    font-family: 'Frank Ruhl Libre', serif;
}

/* Mengatur ukuran Card */
.card {
    background: #bbe2e069;
    text-align: left;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 400px;
    margin: 6rem auto 8.1rem auto;
    padding-left: 5%;
    padding-top: 1%;
    width: 300px;  
}
/* Mengatur ukuran h1 Card */
.card h1 {
    font-family: 'Cormorant', cursive;
    text-align: center;
    padding-right: 25%;
    font-size: 40px;
}

/* Mengatur ukuran Form */
form {
    padding-top: 5%;
    padding-left: 8%;
    font-family: 'Concert One', cursive;
}